@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: blue;
  text-decoration: underline;
}
